<h1>This is about page</h1>

<div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>Welcome to the new page</p>
        
      </div>
 </div>

<%= link_to 'Home Page', root_path %>